<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>みんなのマインドマップ</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    <!--<link rel="stylesheet" href="/stylesheets/responsive.css">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
    <link rel="shortcut icon" href="/images/icons8Mindmap.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/images/icons8Mindmap.ico">

    <link type="text/css" rel="stylesheet" href="/jsmind/style/jsmind.css" />
    <script type="text/javascript" src="/jsmind/js/jsmind.js"></script>
    <script type="text/javascript" src="/jsmind/js/jsmind.draggable.js"></script>

    <!--<script type="text/javascript" src="/gojs/release/go.js"></script>-->
</head>

<body>
    <header>
        <div class="container">
            <div class="header-left">
                <a href="/home">
                    <div><img src="/images/icons8Mindmap.png"></div>
                    <div>
                        <h1>みんなのマインドマップ</h1>
                    </div>
                </a>
            </div>
            <div class="header-right">
                <a href="/logout" class="btn-header logout-header">ログアウト</a>
                <a href="/everyone_idea" class="btn-header everyone-idea-header">みんなのアイデアを見る</a>
                <a href="/my_idea" class="btn-header my-idea-header">自分のアイデアを見る</a>
                <a href="/create_new_idea" class="btn-header create-new-header">アイデアを新規作成</a>
                <a href="/configuration" class="btn-header configuration-header">設定</a>
            </div>
        </div>
    </header>