<%- include('partials/header.ejs'); %>

    <div class="main">
        <div class="container">
            <div class="heading">
                <h2>ホーム</h2>
            </div>
            <div class="buttons">
                <a href="/login" class="btn-main everyone-idea">みんなのアイデアを見る</a>
                <a href="/login" class="btn-main my-idea">自分のアイデアを見る</a>
                <a href="/login" class="btn-main create-new">アイデアを新規作成</a>
                <a href="/login" class="btn-main configuration">設定</a>
            </div>
        </div>

    </div>

    <%- include('partials/footer.ejs'); %>