<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>みんなのマインドマップ</title>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
</head>

<body>
    <header>
        <div class="container">
            <div class="header-left">
                <a href="/home">
                    <h1>みんなのマインドマップ</h1>
                </a>
            </div>
            <div class="header-right">
                <a href="/register" class="btn-header register-header">登録</a>
                <a href="/login" class="btn-header login-header">ログイン</a>
                <a href="/login" class="btn-header everyone-idea-header">みんなのアイデアを見る</a>
                <a href="/login" class="btn-header my-idea-header">自分のアイデアを見る</a>
                <a href="/login" class="btn-header create-new-header">アイデアを新規作成</a>
                <a href="/login" class="btn-header configuration-header">設定</a>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="container">
            <div class="heading">
                <h2>ホーム</h2>
            </div>
            <div class="buttons">
                <a href="/login" class="btn-main everyone-idea">みんなのアイデアを見る</a>
                <a href="/login" class="btn-main my-idea">自分のアイデアを見る</a>
                <a href="/login" class="btn-main create-new">アイデアを新規作成</a>
                <a href="/login" class="btn-main configuration">設定</a>
            </div>
        </div>

    </div>

    <%- include('partials/footer.ejs'); %>