<%- include('/home/sunamoto/pbl2App/Mindmap/views/partials/header.ejs'); %>

    <div class="main">
        <div class="container">
            <div class="heading">
                <h2>
                    <% ideaPage_data.forEach((ideaPage_data)=> { %>
                        <%= ideaPage_data.title %>
                            <% }); %>
                </h2>
            </div>

            <div class="paper-mindmap" id="map">

            </div>
            <style>
                #map {
                    height: 600px;
                    width: 100%;
                    background-color: #DAE4E4;
                }
            </style>

            <div class="paper">
                <canvas class="paper-canvas" id="mindmap"></canvas>
            </div>

            <div class="ctrl2" id="ctrl">
                <div class="pencil-width">
                    <img src="/images/pencil.png">
                    <!-- 「線の太さ」ボタン群 -->
                    <span class="wds cur" wd="1"><span id="w1"></span></span>
                    <span class="wds" wd="2"><span id="w2"></span></span>
                    <span class="wds" wd="3"><span id="w3"></span></span>
                    <span class="wds" wd="4"><span id="w4"></span></span>
                    <span class="wds" wd="5"><span id="w5"></span></span>
                    <span class="wds" wd="6"><span id="w6"></span></span>
                    <span class="wds" wd="7"><span id="w7"></span></span>
                    <span class="wds" wd="8"><span id="w8"></span></span>
                    <span class="wds" wd="9"><span id="w9"></span></span>
                    <span class="wds" wd="10"><span id="w10"></span></span>
                    <span class="wds" wd="11"><span id="w11"></span></span>
                    <span class="wds" wd="12"><span id="w12"></span></span>
                    <span class="wds" wd="13"><span id="w13"></span></span>

                    <!-- 「線の太さ」選択枠 -->
                    <input type="number" id="width" min="1" max="13" value="1">
                </div>
                <div class="pencil-color">
                    <img src="/images/palette.png">
                    <!-- 「線の色」ボタン群 -->
                    <span class="cls cur" cl="#000"><span id="c1"></span></span>
                    <span class="cls" cl="#fff"><span id="c2"></span></span>
                    <span class="cls" cl="#f00"><span id="c3"></span></span>
                    <span class="cls" cl="#080"><span id="c4"></span></span>
                    <span class="cls" cl="#00f"><span id="c5"></span></span>
                    <span class="cls" cl="#800"><span id="c6"></span></span>
                    <span class="cls" cl="#fd0"><span id="c7"></span></span>
                    <span class="cls" cl="#fcc"><span id="c8"></span></span>
                    <span class="cls" cl="#888"><span id="c9"></span></span>
                    <span class="cls" id="c11" cl="#000"><span id="c10"></span></span>

                    <!-- 「線の色」選択枠 -->
                    <input type="color" id="color">
                </div>
                <div class="eraser">
                    <img src="/images/eraser.png">
                </div>
                <div class="function">
                    <input type="button" id="clear" value="クリア">
                    <% ideaPage_data.forEach((ideaPage_data)=> { %>
                        <a id="save" href="#" download="<%= ideaPage_data.title %>.jpg">保存</a>
                        <%}); %>
                </div>
            </div>
        </div>
    </div>

    <!--<script type="text/javascript" src="/gojs/my-gojs.js"></script>-->

    <script type="text/javascript" src="/mindelixir/dist/MindElixir.js"></script>

    <script type="text/javascript" src="/mindelixir/my-mindelixir.js"></script>

    <script type="text/javascript" src="/paint/paint.js"></script>

    <%- include('/home/sunamoto/pbl2App/Mindmap/views/partials/footer.ejs'); %>